<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- DEFINICION DE VISTAS PARA LA RESOLUCION VIA XML -->

	<!-- COMPONENTE DE GESTION DE VISTA -->
	<bean id="identificador-vista" class="org.springframework.web.servlet.view.JstlView">
		<!-- RUTA Y NOMBRE DE PAGINA -->
		<property name="url" value="/jsp/resolucion-xml.jsp" />
	</bean>

</beans>
